$color-white: #fff;
$background-gray-color: #f8f8f8;
$color-black: #0b132a;
$color-gray: #4f5665;
$color-soft-gray: #afb5c0;
$color-offwhite: #eeeff2;
$color-green: #2fab73;
$main-color: #f53838;
$second-color: #ffecec;
$box-shadow: 0px 25.5px 54px 0px #f5383859;
$second-box-shadow: 0px 150px 114px 0px #afb5c059;
